body {
  font-family: 'Poppins', sans-serif;
  background: blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px solid grey;
  width: 200px;
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
  color: grey;
}
.input-group {
  margin-bottom: 10px;
}
button {
  width: 100%;
  padding: 20px;
  background: blue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}